.chat{
    width: 360px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #6c757d;
    display: block;
    
    .chat-header{
        display: block;
        height: 50px;
        border-bottom: 1px solid #6c757d;
        button{
            position: relative;
            float: right;
        }
    }
    .chat-body{
        display: block;
        height: 280px;
    }
    .chat-fother{
        display: block;
        height: 70px;
        textarea{
            border-radius: 0 0 10px 10px;
            resize: none;
            width: 100%;
            height: 70px;
            &:focus,:active,:hover{
                outline: none;
            }
            &::-webkit-scrollbar{
                display:none;
            }
        }
    }
}

.open_chat{
    animation-duration: 0.5s;
    animation-name: open-chat;
  }
  
  @keyframes open-chat {
    from {width: 0;}
    to {width: 360px;}
    }