.task {
  cursor: pointer;
  min-width: 200px;
  border: 2px solid black;
  border-radius: 10px;
  .task-header {
    font-size: 28px;
    font-weight: 700;
  }
  .task-body {
    font-size: 18px;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.048);
    transition: .3s;
    border: 2px solid  rgba(0, 0, 0, 0.123);
  }
}
